.menu-lateral, .conteudo, .topo{ 
	padding: 8px;
}
.menu-lateral{
	position: relative;
	padding-top: 20px;
	height: auto;
	padding-bottom: 30px;
	float: left;
	margin-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

.conteudo{
	padding: 50px;
	height: auto;
	margin-left: 10px;
	margin-top: 10px;

	float:left;
	box-shadow: 10px 10px 5px #888888;
	padding-bottom: 30px;
}

.topo{
	background-color: #E3E546;
	height: 100px;
	width: 100%;
}


.topo-fixed{
  	position: fixed;
  	right: 0;
  	left: 0;
  	z-index: 1030;
  	margin-bottom: 0;
}

.profile-pic{
	position: relative;
	height: 160px;
}

.profile-pic img{
	position: absolute;		
	width: 150px;
	height: 150px;
	margin-left: 10%;
}

.nav-lateral li{
	background-color: #23ACEC;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 auto;
	text-align: center;
}

.nav-lateral li:hover{
	background-color: #40DDEB;
}

.nav-lateral li a{
	text-align: center;
}

.user_data{
	text-align: center;
}

.corpo{
	margin-top: 50px;
}

.nav-bar-lateral li a{
	text-align: center;
}

.editarComentario{
	width: 515px;
	resize: none;
}

.navbar>li>a{
	color: #fff;
}

.rodape{
	margin-top: 50px;
	height: 150px;
	background-color: #1F1F1F;
}

.comentar{
	margin-top: 30px;
}

.comentario{
	width: 100%;
	height: 100px;
}