.topo{
	width: 100%;
	background-color: #ddd;
	min-height: 80px;
}

.menu{
	width: 100%;
	min-height: 40px;
	background-color: #aaa;
	margin: 0 auto;
}

.container{
	width: 70%;
	margin: 0 auto;
	min-height: 600px;
}

.painelEsquerda{
	float: left;
	background-color: #ccc;
	min-height: 550px;
	height: auto;
	width: 60%;
	padding: 20px;
}

.painelDireita{
	float: left;
	background-color: #888;
	min-height: 550px;
	width: 30%;
}

.painelDireita img{
	width: 100%;
	height: auto;
}

.footer{
	width: 100%;
	min-height: 80px;
	background-color: #777;
}

label.error { 
	color: #afc;
}

.profile{
	background-color: #f9f9f9;
	border: 1px dashed #ccc;
}

div .reply{
	padding-left: 20px;
}
